<div class="panel panel-info" id="outings">
    <div class="panel-heading">
        <h2 class="panel-title">Map</h3>
    </div>

    <div class="panel-body">
    
        <div id='map' style='width: 100%; height: 550px;'></div>
    
    <script>
        //pass river lat/lng from server-side to client-side
        //is there a better way to do this?
        var riverID =   '<%= river._id %>';
        var mapCenter = [<%=river.lng%>, <%=river.lat%>];
    </script>

    <!-- MapBox API -->
    <script type="text/javascript" src="../js/mapbox-show.js"></script>
        <link rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
            crossorigin="anonymous">
            
        <style>
            .marker {
                font-size: 16px;
                color: red;
                border: 1px solid #000;
                padding: 5px;
                border-radius: 10px;
                opacity: 0.9;
                background: lightblue;
            }
        </style>

    <script>
        map.on('load', function(){

            map.addLayer({
                "id": "points",
                "type": "symbol",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [
                            //Populate saved markers from database
                            <% river.mapMarkers.forEach(function(marker){  %>
                                {
                                    "type": "Feature",
                                    "properties": {
                                        "type": "<%= marker.type %>",
                                        "title": "<%= marker.title %>",
                                        "description": "<%= marker.description %>",
                                        "icon": "star"
                                    },
                                    "geometry": {
                                        "type": "Point",
                                        "coordinates": [<%=marker.lng%>,<%=marker.lat%>]
                                    }
                                },
                            <% }); %>
                        ]
                    }
                },
                "layout": {
                    "icon-image": "{icon}-15",
                    "icon-allow-overlap": true
                }
            }); //map.addLayer()
        
            // When a click event occurs on a feature in the places layer, open a popup at the
            // location of the feature, with description HTML from its properties.
            map.on('click', 'points', function (e) {
                var coordinates = e.features[0].geometry.coordinates.slice();
                let type = e.features[0].properties.type;
                let title = e.features[0].properties.title;
                var description = e.features[0].properties.description;
                let popup = `
                    <h4>${type}</h4>
                    <strong>${title}</strong>
                    <p>${description}</p>
                    <small>
                    <strong>Lat/Lng: </strong> [${Math.floor(e.lngLat.lat*10000)/10000}, ${Math.floor(e.lngLat.lng*10000)/10000}]<br/>
                    <a href="/rivers/${riverID}/mapMarkers/?_method=DELETE" method="POST">Delete</a>
                    
                    <form class="delete-marker" action="/rivers/<%=river._id%>/mapMarkers/<%=mapMarker._id%>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                    </small>`;
        
                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
        
                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(popup)
                    .addTo(map);
                }); //map.on('click');
                
                // Change the cursor to a pointer when the mouse is over the places layer.
                map.on('mouseenter', 'points', function () {
                    map.getCanvas().style.cursor = 'pointer';
                });
        
                // Change it back to a pointer when it leaves.
                map.on('mouseleave', 'points', function () {
                    map.getCanvas().style.cursor = '';
                });
        
        }); //mapp.onLoad()
    </script>
    
    
    <!-- Notes to myself/plan for the future -->
        <div class="thumbnail">
            <div class="container-fluid">
                <div class="row">
                    <h4>Map</h4>
                </div>
            </div>
        </div>
        
    </div> <!-- panel-body -->
</div> <!-- panel -->