<% include ../partials/header %>

<!-- style for displaying/hiding section info panels -->
<!-- eventually move into main.css, but here now just for ease of testing -->
<style>
    .hidden{    
    display: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">RiverJournal</p>
            <div class="list-group">
                <ul id="river-sections">
                    <li class="list-group-item active">River Sections:</li>
                    
                    <!-- Print out an LI for each river section -->
                    <!-- user can then click to toggle a display planel for that section -->
                    
                    <% river.sections.forEach(function(section){ %>
                        <li class="list-group-item" id="<%=section.name%>">
                            <%= section.name %>
                        </li>
                    <% }); %>
                    
                </ul>
            </div> <!-- list-group -->
        </div>
        
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><%= river.name %></h4>
                    <h5><%= river.location %></h5>
                    <!--<p><%= river.description %></p>-->

                </div>
            </div>
            
<!-- Trout Stocking -->
            <div class="thumbnail"  id="stocking">
                <div class="container-fluid">
                    <div class="row">
                        <% include ../partials/stocking %> 
                    </div>
                </div>
            </div>



<!-- END trout stocking -->


<!-- Weather -->
            <div class="thumbnail"  id="weather">
                <div class="container-fluid">
                    <div class="row">
                        <% include ../partials/weather %>    
                    </div>
                </div>
            </div>
<!-- end Weather -->

            
            <div class="thumbnail" id="usgs">
                <p>USGS Data Location: <%= usgsData.value.timeSeries[0].sourceInfo.siteName %> | River ID: <%= river.usgsID %></p>
                <p>Current Flow: <%= usgsData.value.timeSeries[0].values[0].value[0].value %></p>
                <img src="http://waterdata.usgs.gov/nwisweb/graph?site_no=<%=river.usgsID%>&parm_cd=00060"  width="576" height="400" alt="USGS Water-data graph for site 06025500"  /> 
            </div>
                
            
<!--
            <div class="thumbnail" id="map">
                Map Div
            </div>
-->

            <div class="thumbnail">

        <!-- Section info panel -->
        <!-- Important: all toggle-panels have to have an ID prefix of 'section-' -->
                
                <!-- default section, hides once an actual section is selected -->
<!--                <div id="section-default">Select a River Section to view more info</div>    -->
                
                <!-- Cycle through each river section and print out a div -->
                <% //river.sections.forEach(function(section){ %>     
<!--                    <div class="river-section hidden" id="section-<%= //section.name %>"> -->
<!--                    <h2><%= //section.name %></h2>    -->
<!--                    </div>    -->          
<!--                <% //}); %>   -->
            
            </div>



            <div class="well">
                <% river.comments.forEach(function(comment){ %>
                    <p><strong><%= comment.author %></strong> - <%=comment.text %></p>
                
                <% }) %>
            </div>
            
            
            

            <div class="well">
                <a class="btn btn-warning" href="/rivers/<%= river._id %>/edit">Edit</a>
                <form class="delete-form" action="/rivers/<%= river._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            

            </div>
        </div>
    </div>


<script>
//JQUERY functionality that allows user to select & view info for a given section
//Current problem: only works if section's 'name' property contains no spaces
    $("#river-sections li").on("click", function(e){

        $this = $(this);
        $id = $this.attr('id');
        $class = '.' + $('#section-' + $id).attr('class').replace('hide', '');

        $('div[id^=section]').not($class).addClass('hidden');
        $('#section-' + $id).removeClass('hidden');
    });
</script>

<!--<script src="/js/darksky.js"></script>-->

<% include ../partials/footer %>